Alerts and Git/Alerts and Git.xcodeproj/project.xcworkspace/xcuserdata/sagatelov.xcuserdatad/UserInterfaceState.xcuserstate
Alerts and Git/Alerts and Git.xcodeproj/xcuserdata/sagatelov.xcuserdatad/xcschemes/xcschememanagement.plist
